<a href="https://colab.research.google.com/github/kinantianggraeni/preprocessing-movie-dataset/blob/main/Pratikum_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Pratikum Preprocessing: [Movie Dataset]
- **Nama:** [Kinanti Anggraeni]
- **NIM:** [4112322010]
- **Pertemuan:** [Minggu ke-3]

## Import library

In [33]:
import numpy as np
import pandas as pd

## Memuat Data

In [34]:
!wget https://raw.githubusercontent.com/kinantianggraeni/Movie-dataset/refs/heads/main/movie_sample_dataset.csv

--2024-09-26 01:45:55--  https://raw.githubusercontent.com/kinantianggraeni/Movie-dataset/refs/heads/main/movie_sample_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15228 (15K) [text/plain]
Saving to: ‘movie_sample_dataset.csv.1’

movie_sample_datase 100%[===================>]  14.87K  --.-KB/s    in 0.001s

2024-09-26 01:45:56 (10.1 MB/s) - ‘movie_sample_dataset.csv.1’ saved [15228/15228]

## Memeriksa Data

In [35]:
movie_df = pd.read_csv("movie_sample_dataset.csv")
movie_df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [36]:
movie_df.shape

(99, 13)

In [37]:
movie_df = pd.read_csv("movie_sample_dataset.csv")
missing_values = movie_df[movie_df.isnull().any(axis=1)]
print(missing_values)

    color        director_name  duration        gross  \
5     NaN                  NaN       183  330249062.0
7   Color          Edward Hall       180          NaN
10    NaN           Tom Tykwer       172   27098580.0
12  Color  Christopher Spencer       170   59696176.0
15    NaN    Richard Linklater       165   25359200.0
18    NaN    Christopher Nolan       164  448130642.0
24  Color                  NaN       156  183635922.0
27  Color    Gnana Rajasekaran       153          NaN
32  Color                  NaN       150  182204440.0
33  Color           Mike Leigh       150    3958500.0
37  Color            Jay Oliva       148          NaN
41  Color                  NaN       147  407197282.0
56    NaN                  NaN       143          NaN
59  Color                  NaN       142  407999255.0
61  Color    Timur Bekmambetov       141          NaN
62  Color    Timur Bekmambetov       141          NaN
63  Color    Timur Bekmambetov       141          NaN
65    NaN         Oliver Stone       141   47307550.0
71  Color                  NaN       139  150832203.0
74    NaN      Terrence Malick       139   13303319.0
75  Color                  NaN       138  150117807.0
76    NaN      Robert Zemeckis       138   93749203.0
80    NaN        James Mangold       138  132550960.0
82  Color                  NaN       137   37304950.0
83    NaN        Walter Salles       137     717753.0
84  Color                  NaN       137  281666058.0
87    NaN      Seth MacFarlane       136   42615685.0
91  Color                  NaN       136   52474616.0
92  Color     Sadyk Sher-Niyaz       135          NaN
95  Color     Richard J. Lewis       134    7501404.0

                                    genres  \
5                  Action|Adventure|Sci-Fi
7                            Drama|Romance
10                            Drama|Sci-Fi
12                                     NaN
15                                   Drama
18                         Action|Thriller
24        Adventure|Drama|Thriller|Western
27                 Biography|Drama|History
32             Biography|Drama|History|War
33                 Biography|Drama|History
37  Action|Animation|Crime|Sci-Fi|Thriller
41                 Action|Adventure|Sci-Fi
56                   Drama|Horror|Thriller
59         Adventure|Drama|Sci-Fi|Thriller
61                 Adventure|Drama|History
62                 Adventure|Drama|History
63                 Adventure|Drama|History
65                    Crime|Drama|Thriller
71                Adventure|Mystery|Sci-Fi
74                           Drama|Fantasy
75                             Crime|Drama
76                          Drama|Thriller
80        Action|Adventure|Sci-Fi|Thriller
82                   Biography|Crime|Drama
83                         Adventure|Drama
84                        Adventure|Sci-Fi
87                          Comedy|Western
91                                   Drama
92          Action|Biography|Drama|History
95                            Comedy|Drama

                                movie_title  title_year language     country  \
5        Batman v Superman: Dawn of Justice         202  English         USA
7                                  Restless        2012  English          UK
10                              Cloud Atlas        2012  English     Germany
12                               Son of God        2014  English         USA
15                                  Boyhood        2014  English         USA
18                    The Dark Knight Rises        2012  English         USA
24                             The Revenant        2015  English         USA
27                                Ramanujan        2014  English       India
32                                  Lincoln        2012  English         USA
33                               Mr. Turner        2014  English          UK
37  Batman: The Dark Knight Returns, Part 2        2013  English         USA
41               Captain America: Civil War        2016  English         USA
56                               The Ridges        2011  English         USA
59                         The Hunger Games        2012  English         USA
61                                  Ben-Hur        2016  English         USA
62                                  Ben-Hur        2016  English         USA
63                                  Ben-Hur        2016  English         USA
65                                  Savages        2012  English         USA
71                                Divergent        2014  English         USA
74                         The Tree of Life        2011  English         USA
75                          American Hustle        2013  English         USA
76                                   Flight        2012  English         USA
80                            The Wolverine        2013  English         USA
82                                 J. Edgar        2011  English         USA
83                              On the Road        2012  English      France
84    The Hunger Games: Mockingjay - Part 2        2015  English         USA
87        A Million Ways to Die in the West        2014  English         USA
91          Wall Street: Money Never Sleeps        2010  English         USA
92                   Queen of the Mountains        2014  English  Kyrgyzstan
95                         Barney's Version        2010  English      Canada

         budget  imdb_score  \
5   250000000.0         6.9
7           NaN         7.2
10  102000000.0        -7.5
12   22000000.0         5.6
15    4000000.0         8.0
18  250000000.0         8.5
24  135000000.0         8.1
27          NaN         7.0
32   65000000.0         7.4
33          NaN         6.8
37    3500000.0         8.4
41  250000000.0         8.2
56      17350.0         3.0
59   78000000.0         7.3
61  100000000.0         6.1
62  100000000.0         6.0
63  100000000.0         6.1
65   45000000.0         6.5
71   85000000.0         6.7
74   32000000.0         6.7
75   40000000.0         7.3
76   31000000.0         7.3
80  120000000.0         6.7
82   35000000.0         6.6
83   25000000.0         6.1
84  160000000.0         6.6
87   40000000.0         6.1
91   70000000.0         6.3
92    1400000.0         8.7
95          NaN         7.3

                                               actors  movie_facebook_likes
5            Henry Cavill,Lauren Cohan,Alan D. Purwin                197000
7       Rufus Sewell,Hayley Atwell,Charlotte Rampling                   434
10               Tom Hanks,Jim Sturgess,Jim Broadbent                124000
12           Roma Downey,Amber Rose Revah,Darwin Shaw                 15000
15     Ellar Coltrane,Lorelei Linklater,Libby Villari                 92000
18      Tom Hardy,Christian Bale,Joseph Gordon-Levitt                164000
24             Leonardo DiCaprio,Tom Hardy,Lukas Haas                190000
27         Mani Bharathi,Michael Lieber,Kevin McGowan                    58
32     Joseph Gordon-Levitt,Hal Holbrook,Bruce McGill                 71000
33            Lesley Manville,Ruth Sheen,Karl Johnson                     0
37           Michael Emerson,Mark Valley,Grey Griffin                  5000
41   Robert Downey Jr.,Scarlett Johansson,Chris Evans                 72000
56      Robbie Barnes,Alana Kaniewski,Brandon Landers                    33
59  Jennifer Lawrence,Josh Hutcherson,Anthony Reyn...                140000
61           Morgan Freeman,Ayelet Zurer,Moises Arias                     0
62           Morgan Freeman,Ayelet Zurer,Moises Arias                     0
63           Morgan Freeman,Ayelet Zurer,Moises Arias                     0
65            Demián Bichir,Shea Whigham,Gary Stretch                 28000
71               Kate Winslet,Theo James,Mekhi Phifer                 49000
74                  Brad Pitt,Tye Sheridan,Fiona Shaw                 39000
75    Jennifer Lawrence,Christian Bale,Bradley Cooper                 63000
76  Denzel Washington,Bruce Greenwood,Nadine Velaz...                 64000
80            Hugh Jackman,Tao Okamoto,Rila Fukushima                 68000
82        Leonardo DiCaprio,Naomi Watts,Kaitlyn Dever                 16000
83      Kristen Stewart,Viggo Mortensen,Kirsten Dunst                 27000
84  Jennifer Lawrence,Philip Seymour Hoffman,Josh ...                 38000
87        Liam Neeson,Charlize Theron,Seth MacFarlane                 24000
91  Frank Langella,Austin Pendleton,John Buffalo M...                 13000
92  Elina Abai Kyzy,Aziz Muradillayev,Mirlan Abdul...                     0
95                   Mark Addy,Atom Egoyan,Paul Gross                     0

## Membersihkan Data

In [38]:
# cek banyaknya missing value pada masing-masing kolom
movie_df.replace([" ","Nan", "N/A", "n/a", "null", "NULL", "Null", "-"], np.nan, inplace=True)
print(movie_df.isnull().sum())

color                   11
director_name           13
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [39]:
# 1. Hapus baris yang memiliki nilai NaN di kolom 'gross' dan 'budget'
movie_df.dropna(subset=['gross', 'budget'], axis=0, inplace=True)
movie_df.reset_index(drop=True, inplace=True)

# 2. Bagian yang tidak konsisten atau kesalahan penulisan di kolom, mengubah nilai di kolom 'color' menjadi huruf kecil
movie_df["color"]=movie_df["color"].str.lower().str.strip()
movie_df["country"]=movie_df["country"].str.upper()
movie_df["language"]=movie_df["language"].str.capitalize()

movie_df["country"]=movie_df["country"].replace({"UNITED STATES":"USA", "NEW ZEALAND":"NZ", "FRANCE":"FR", "AUSTRALIA":"AU", "CZECH REPUBLIC":"CZ"})

# 3. Ubah atau hapus nilai-nilai yang tidak standar, seperti nilai negatif atau 'N/A'
movie_df = movie_df[movie_df['gross'] >= 0]
movie_df = movie_df[movie_df['budget'] >= 0]
movie_df = movie_df[movie_df['duration'] >= 0]
movie_df = movie_df[movie_df['imdb_score'] >= 0]

# Menghapus nilai 'N/A'
movie_df.replace('N/A', pd.NA, inplace=True)  # Mengganti 'N/A' dengan NaN
movie_df.dropna(inplace=True)  # Hapus baris yang masih mengandung NaN

# menghapus duplikat
movie_df.drop_duplicates(inplace=True)

# memperbaiki outlier
movie_df=movie_df[(movie_df["duration"] >= 30) & (movie_df["duration"] < 300)]
movie_df=movie_df[(movie_df["imdb_score"] >= 0) & (movie_df["imdb_score"] <= 10)]
movie_df=movie_df[(movie_df["title_year"] >= 1999)]

# Menampilkan data yang sudah dibersihkan
print(movie_df)  # Menampilkan dataframe di konsol

              color         director_name  duration        gross  \
0             color       Martin Scorsese       240  116866727.0
1             color           Shane Black       195  408992272.0
2             color     Quentin Tarantino       187   54116191.0
3             color      Kenneth Lonergan       186      46495.0
4             color         Peter Jackson       186  258355354.0
7             color           Joss Whedon       173  623279547.0
12            color     Christopher Nolan       169  187991439.0
13            color          F. Gary Gray       167  161029270.0
16            color           Michael Bay       165  245428137.0
18            color         Peter Jackson       164  255108370.0
19            color            Tom Hooper       158  148775460.0
21            color       Kathryn Bigelow       157   95720716.0
22            color          Ridley Scott       156  105219735.0
24            color           Michael Bay       154  352358779.0
25            color      Denis Villeneuve       153   60962878.0
26            color             Marc Webb       153  262030663.0
28            color          Ridley Scott       150   65007045.0
32            color         David Fincher       149  167735396.0
33            color          Bryan Singer       149  233914986.0
34            color     Christopher Nolan       148  292568851.0
35            color  Paul Thomas Anderson       148    8093318.0
36            color            Sam Mendes       148  200074175.0
38            color  Michael Patrick King       146   95328937.0
39            color           Tate Taylor       146  169705587.0
40            color      Francis Lawrence       146  424645577.0
41  black and white      Steven Spielberg       146   79883359.0
42            color           Michael Bay       144   52822418.0
43            color       Guillaume Canet       144      41229.0
44            color  Paul Thomas Anderson       144   16377274.0
45            color          Bryan Singer       144  154985087.0
46            color            Adam McKay       143    2175312.0
47            color           Zack Snyder       143  291021565.0
48            color            Sam Mendes       143  304360277.0
50            color          Baz Luhrmann       143  144812796.0
52            color      Steven Spielberg       142   72306065.0
53            color             Marc Webb       142  202853933.0
55            color           Joss Whedon       141  458991599.0
56            color       Justin Chadwick       141    8324748.0
58            color          David Dobkin       141   47105085.0
59            color           Ryan Murphy       140   80574010.0
60            color             James Wan       140  350034110.0
61            color      Derek Cianfrance       140   21383298.0
62            color        Gavin O'Connor       140   13651662.0
64            color             Gary Ross       139   20389967.0
65            color           Tate Taylor       139   30513940.0
69            color      Darren Aronofsky       138  101160529.0
70            color       Martin Scorsese       138  127968405.0
71            color          Ridley Scott       138   16969390.0
78            color   Angelina Jolie Pitt       137  115603980.0
80            color         Anthony Russo       136  259746958.0
81            color          Rob Marshall       136  241063875.0
82            color         Adam Shankman       136   38509342.0
84            color           Tony Gilroy       135  113165635.0
85            color         Steve McQueen       134   56667870.0
86            color       Paul Greengrass       134  107100855.0
87            color            David Ayer       134   85707116.0

                                      genres  \
0               Biography|Comedy|Crime|Drama
1                    Action|Adventure|Sci-Fi
2       Crime|Drama|Mystery|Thriller|Western
3                                      Drama
4                          Adventure|Fantasy
7                    Action|Adventure|Sci-Fi
12                    Adventure|Drama|Sci-Fi
13       Biography|Crime|Drama|History|Music
16                   Action|Adventure|Sci-Fi
18                         Adventure|Fantasy
19                     Drama|Musical|Romance
21                    Drama|History|Thriller
22            Action|Adventure|Drama|History
24                   Action|Adventure|Sci-Fi
25              Crime|Drama|Mystery|Thriller
26                  Action|Adventure|Fantasy
28                    Action|Adventure|Drama
32              Crime|Drama|Mystery|Thriller
33  Action|Adventure|Fantasy|Sci-Fi|Thriller
34          Action|Adventure|Sci-Fi|Thriller
35        Comedy|Crime|Drama|Mystery|Romance
36                 Action|Adventure|Thriller
38                      Comedy|Drama|Romance
39                                     Drama
40                 Adventure|Sci-Fi|Thriller
41                                 Drama|War
42                 Action|Drama|Thriller|War
43                      Crime|Drama|Thriller
44                                     Drama
45                   Action|Adventure|Sci-Fi
46                                    Comedy
47           Action|Adventure|Fantasy|Sci-Fi
48                 Action|Adventure|Thriller
50                             Drama|Romance
52                    Drama|History|Thriller
53           Action|Adventure|Fantasy|Sci-Fi
55                   Action|Adventure|Sci-Fi
56                   Biography|Drama|History
58                               Crime|Drama
59                             Drama|Romance
60                     Action|Crime|Thriller
61                      Crime|Drama|Thriller
62                               Drama|Sport
64        Action|Biography|Drama|History|War
65                     Biography|Drama|Music
69                    Action|Adventure|Drama
70                          Mystery|Thriller
71                      Crime|Drama|Thriller
78                 Biography|Drama|Sport|War
80                   Action|Adventure|Sci-Fi
81                  Action|Adventure|Fantasy
82              Comedy|Drama|Musical|Romance
84                 Action|Adventure|Thriller
85                   Biography|Drama|History
86                  Biography|Drama|Thriller
87                          Action|Drama|War

                                    movie_title  title_year language country  \
0                       The Wolf of Wall Street        2013  English     USA
1                                    Iron Man 3        2013  English     USA
2                             The Hateful Eight        2015  English     USA
3                                      Margaret        2011  English     USA
4           The Hobbit: The Desolation of Smaug        2013  English     USA
7                                  The Avengers        2012  English     USA
12                                 Interstellar        2014  English     USA
13                       Straight Outta Compton        2015  English     USA
16              Transformers: Age of Extinction        2014  English     USA
18    The Hobbit: The Battle of the Five Armies        2014  English      NZ
19                               Les Misérables        2012  English     USA
21                             Zero Dark Thirty        2012  English     USA
22                                   Robin Hood        2010  English     USA
24               Transformers: Dark of the Moon        2011  English     USA
25                                    Prisoners        2013  English     USA
26                       The Amazing Spider-Man        2012  English     USA
28                       Exodus: Gods and Kings        2014  English      UK
32                                    Gone Girl        2014  English     USA
33                   X-Men: Days of Future Past        2014  English     USA
34                                    Inception        2010  English     USA
35                                Inherent Vice        2014  English     USA
36                                      Spectre        2015  English      UK
38                           Sex and the City 2        2010  English     USA
39                                     The Help        2011  English     USA
40              The Hunger Games: Catching Fire        2013  English     USA
41                                    War Horse        2011  English     USA
42                                     13 Hours        2016  English     USA
43                                   Blood Ties        2013  English      FR
44                                   The Master        2012  English     USA
45                            X-Men: Apocalypse        2016  English     USA
46            Anchorman 2: The Legend Continues        2013  English     USA
47                                 Man of Steel        2013  English     USA
48                                      Skyfall        2012  English      UK
50                             The Great Gatsby        2013  English      AU
52                              Bridge of Spies        2015  English     USA
53                     The Amazing Spider-Man 2        2014  English     USA
55                      Avengers: Age of Ultron        2015  English     USA
56                Mandela: Long Walk to Freedom        2013  English      UK
58                                    The Judge        2014  English     USA
59                                Eat Pray Love        2010  English     USA
60                                    Furious 7        2015  English     USA
61                   The Place Beyond the Pines        2012  English     USA
62                                      Warrior        2011  English     USA
64                          Free State of Jones        2016  English     USA
65                                    Get on Up        2014  English     USA
69                                         Noah        2014  English     USA
70                               Shutter Island        2010  English     USA
71                                The Counselor        2013  English     USA
78                                     Unbroken        2014  English     USA
80          Captain America: The Winter Soldier        2014  English     USA
81  Pirates of the Caribbean: On Stranger Tides        2011  English     USA
82                                 Rock of Ages        2012  English     USA
84                            The Bourne Legacy        2012  English     USA
85                             12 Years a Slave        2013  English     USA
86                             Captain Phillips        2013  English     USA
87                                         Fury        2014  English     USA

         budget  imdb_score  \
0   100000000.0         8.2
1   200000000.0         7.2
2    44000000.0         7.9
3    14000000.0         6.5
4   225000000.0         7.9
7   220000000.0         8.1
12  165000000.0         8.6
13   28000000.0         7.9
16  210000000.0         5.7
18  250000000.0         7.5
19   61000000.0         7.6
21   40000000.0         7.4
22  200000000.0         6.7
24  195000000.0         6.3
25   46000000.0         8.1
26  230000000.0         7.0
28  140000000.0         6.1
32   61000000.0         8.1
33  200000000.0         8.0
34  160000000.0         8.8
35   20000000.0         6.7
36  245000000.0         6.8
38  100000000.0         4.3
39   25000000.0         8.1
40  130000000.0         7.6
41   66000000.0         7.2
42   50000000.0         7.4
43   25500000.0         6.5
44   32000000.0         7.1
45  178000000.0         7.3
46   50000000.0         6.3
47  225000000.0         7.2
48  200000000.0         7.8
50  105000000.0         7.3
52   40000000.0         7.6
53  200000000.0         6.7
55  250000000.0         7.5
56   35000000.0         7.1
58   50000000.0         7.4
59   60000000.0         5.7
60  190000000.0         7.2
61   15000000.0         7.3
62   25000000.0         8.2
64   50000000.0         6.7
65   30000000.0         6.9
69  125000000.0         5.8
70   80000000.0         8.1
71   25000000.0         5.3
78   65000000.0         7.2
80  170000000.0         7.8
81  250000000.0         6.7
82   75000000.0         5.9
84  125000000.0         6.7
85   20000000.0         8.1
86   55000000.0         7.9
87   68000000.0         7.6

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
7   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
12    Matthew McConaughey,Anne Hathaway,Mackenzie Foy                349000
13        Aldis Hodge,Neil Brown Jr.,R. Marcos Taylor                 76000
16            Bingbing Li,Sophia Myles,Kelsey Grammer                 56000
18              Aidan Turner,Adam Brown,James Nesbitt                 65000
19          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
21      Jennifer Ehle,Harold Perrineau,Parker Sawyers                 39000
22                Mark Addy,William Hurt,Scott Grimes                 17000
24          Glenn Morshower,Lester Speight,Kevin Dunn                 46000
25        Hugh Jackman,Jake Gyllenhaal,Dylan Minnette                 86000
26             Emma Stone,Andrew Garfield,Chris Zylka                 56000
28       Christian Bale,María Valverde,Ben Mendelsohn                 51000
32          Patrick Fugit,Sela Ward,Emily Ratajkowski                146000
33      Jennifer Lawrence,Peter Dinklage,Hugh Jackman                 82000
34   Leonardo DiCaprio,Tom Hardy,Joseph Gordon-Levitt                175000
35  Martin Dew,Katherine Waterston,Serena Scott Th...                 18000
36      Christoph Waltz,Rory Kinnear,Stephanie Sigman                 85000
38             Chris Noth,Liza Minnelli,Kristin Davis                     0
39          Emma Stone,Bryce Dallas Howard,Mike Vogel                 75000
40  Jennifer Lawrence,Josh Hutcherson,Sandra Ellis...                 82000
41    Jeremy Irvine,Benedict Cumberbatch,Eddie Marsan                 28000
42     Toby Stephens,James Badge Dale,David Costabile                 44000
43                Mila Kunis,Lili Taylor,Billy Crudup                     0
44     Mike Howard,Jeffrey W. Jenkins,Bruce Goodchild                 27000
45  Jennifer Lawrence,Michael Fassbender,Tye Sheridan                 54000
46            Harrison Ford,Will Ferrell,Steve Carell                 41000
47       Henry Cavill,Christopher Meloni,Harry Lennix                118000
48           Albert Finney,Helen McCrory,Rory Kinnear                 80000
50   Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley                115000
52                    Tom Hanks,Mark Rylance,Amy Ryan                 55000
53              Emma Stone,Andrew Garfield,B.J. Novak                 41000
55  Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                118000
56              Terry Pheto,Fana Mokoena,Tony Kgoroge                 13000
58   Robert Downey Jr.,Robert Duvall,Leighton Meester                 47000
59            James Franco,Julia Roberts,Billy Crudup                 26000
60               Jason Statham,Paul Walker,Vin Diesel                 94000
61   Ryan Gosling,Ben Mendelsohn,Angelo Anthony Pizza                 47000
62                  Tom Hardy,Frank Grillo,Kevin Dunn                 77000
64  Matthew McConaughey,Donald Watkins,Jessica Col...                 10000
65           Tika Sumpter,Josh Hopkins,Aunjanue Ellis                 11000
69           Anthony Hopkins,Emma Watson,Logan Lerman                 71000
70     Leonardo DiCaprio,Joseph Sikora,Nellie Sciutto                 53000
71         Michael Fassbender,Brad Pitt,Goran Visnjic                 24000
78          Finn Wittrock,Jack O'Connell,Alex Russell                 35000
80       Scarlett Johansson,Chris Evans,Hayley Atwell                 55000
81             Johnny Depp,Sam Claflin,Stephen Graham                 58000
82     James Martin Kelly,Shane Hartline,Celina Beach                 33000
84              Jeremy Renner,Scott Glenn,Stacy Keach                 31000
85       Quvenzhané Wallis,Scoot McNairy,Taran Killam                 83000
86             Tom Hanks,Chris Mulkey,Michael Chernus                 65000
87                 Brad Pitt,Logan Lerman,Jim Parrack                 82000

In [40]:
movie_df.shape

(56, 13)

In [41]:
# cek kembali missing value pada masing-masing kolom
print(movie_df.isnull().sum())

color                   0
director_name           0
duration                0
gross                   0
genres                  0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
dtype: int64

## Transformasi Data

In [42]:
# memeriksa tipe data tiap kolom
movie_df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

Variabel numerik harus memiliki tipe data ‘float’ atau ’int’ dan variabel text bertipe data ‘string’ atau ‘object’.

In [43]:
# mengubah tipe data yang diperlukan
movie_df[["color", "language"]] = movie_df[["color", "language"]].astype("string")
movie_df[["gross", "budget"]] = movie_df[["gross", "budget"]].astype("int64")

In [44]:
# Menampilkan data setelah kolom diubah
movie_df.dtypes

color                   string[python]
director_name                   object
duration                         int64
gross                            int64
genres                          object
movie_title                     object
title_year                       int64
language                string[python]
country                         object
budget                           int64
imdb_score                     float64
actors                          object
movie_facebook_likes             int64
dtype: object

In [45]:
# Normalisasi teks untuk memastikan konsistensi
movie_df['movie_title'] = movie_df['movie_title'].str.lower().str.strip()
movie_df['genres'] = movie_df['genres'].str.lower().str.strip()
print(movie_df)

              color         director_name  duration      gross  \
0             color       Martin Scorsese       240  116866727
1             color           Shane Black       195  408992272
2             color     Quentin Tarantino       187   54116191
3             color      Kenneth Lonergan       186      46495
4             color         Peter Jackson       186  258355354
7             color           Joss Whedon       173  623279547
12            color     Christopher Nolan       169  187991439
13            color          F. Gary Gray       167  161029270
16            color           Michael Bay       165  245428137
18            color         Peter Jackson       164  255108370
19            color            Tom Hooper       158  148775460
21            color       Kathryn Bigelow       157   95720716
22            color          Ridley Scott       156  105219735
24            color           Michael Bay       154  352358779
25            color      Denis Villeneuve       153   60962878
26            color             Marc Webb       153  262030663
28            color          Ridley Scott       150   65007045
32            color         David Fincher       149  167735396
33            color          Bryan Singer       149  233914986
34            color     Christopher Nolan       148  292568851
35            color  Paul Thomas Anderson       148    8093318
36            color            Sam Mendes       148  200074175
38            color  Michael Patrick King       146   95328937
39            color           Tate Taylor       146  169705587
40            color      Francis Lawrence       146  424645577
41  black and white      Steven Spielberg       146   79883359
42            color           Michael Bay       144   52822418
43            color       Guillaume Canet       144      41229
44            color  Paul Thomas Anderson       144   16377274
45            color          Bryan Singer       144  154985087
46            color            Adam McKay       143    2175312
47            color           Zack Snyder       143  291021565
48            color            Sam Mendes       143  304360277
50            color          Baz Luhrmann       143  144812796
52            color      Steven Spielberg       142   72306065
53            color             Marc Webb       142  202853933
55            color           Joss Whedon       141  458991599
56            color       Justin Chadwick       141    8324748
58            color          David Dobkin       141   47105085
59            color           Ryan Murphy       140   80574010
60            color             James Wan       140  350034110
61            color      Derek Cianfrance       140   21383298
62            color        Gavin O'Connor       140   13651662
64            color             Gary Ross       139   20389967
65            color           Tate Taylor       139   30513940
69            color      Darren Aronofsky       138  101160529
70            color       Martin Scorsese       138  127968405
71            color          Ridley Scott       138   16969390
78            color   Angelina Jolie Pitt       137  115603980
80            color         Anthony Russo       136  259746958
81            color          Rob Marshall       136  241063875
82            color         Adam Shankman       136   38509342
84            color           Tony Gilroy       135  113165635
85            color         Steve McQueen       134   56667870
86            color       Paul Greengrass       134  107100855
87            color            David Ayer       134   85707116

                                      genres  \
0               biography|comedy|crime|drama
1                    action|adventure|sci-fi
2       crime|drama|mystery|thriller|western
3                                      drama
4                          adventure|fantasy
7                    action|adventure|sci-fi
12                    adventure|drama|sci-fi
13       biography|crime|drama|history|music
16                   action|adventure|sci-fi
18                         adventure|fantasy
19                     drama|musical|romance
21                    drama|history|thriller
22            action|adventure|drama|history
24                   action|adventure|sci-fi
25              crime|drama|mystery|thriller
26                  action|adventure|fantasy
28                    action|adventure|drama
32              crime|drama|mystery|thriller
33  action|adventure|fantasy|sci-fi|thriller
34          action|adventure|sci-fi|thriller
35        comedy|crime|drama|mystery|romance
36                 action|adventure|thriller
38                      comedy|drama|romance
39                                     drama
40                 adventure|sci-fi|thriller
41                                 drama|war
42                 action|drama|thriller|war
43                      crime|drama|thriller
44                                     drama
45                   action|adventure|sci-fi
46                                    comedy
47           action|adventure|fantasy|sci-fi
48                 action|adventure|thriller
50                             drama|romance
52                    drama|history|thriller
53           action|adventure|fantasy|sci-fi
55                   action|adventure|sci-fi
56                   biography|drama|history
58                               crime|drama
59                             drama|romance
60                     action|crime|thriller
61                      crime|drama|thriller
62                               drama|sport
64        action|biography|drama|history|war
65                     biography|drama|music
69                    action|adventure|drama
70                          mystery|thriller
71                      crime|drama|thriller
78                 biography|drama|sport|war
80                   action|adventure|sci-fi
81                  action|adventure|fantasy
82              comedy|drama|musical|romance
84                 action|adventure|thriller
85                   biography|drama|history
86                  biography|drama|thriller
87                          action|drama|war

                                    movie_title  title_year language country  \
0                       the wolf of wall street        2013  English     USA
1                                    iron man 3        2013  English     USA
2                             the hateful eight        2015  English     USA
3                                      margaret        2011  English     USA
4           the hobbit: the desolation of smaug        2013  English     USA
7                                  the avengers        2012  English     USA
12                                 interstellar        2014  English     USA
13                       straight outta compton        2015  English     USA
16              transformers: age of extinction        2014  English     USA
18    the hobbit: the battle of the five armies        2014  English      NZ
19                               les misérables        2012  English     USA
21                             zero dark thirty        2012  English     USA
22                                   robin hood        2010  English     USA
24               transformers: dark of the moon        2011  English     USA
25                                    prisoners        2013  English     USA
26                       the amazing spider-man        2012  English     USA
28                       exodus: gods and kings        2014  English      UK
32                                    gone girl        2014  English     USA
33                   x-men: days of future past        2014  English     USA
34                                    inception        2010  English     USA
35                                inherent vice        2014  English     USA
36                                      spectre        2015  English      UK
38                           sex and the city 2        2010  English     USA
39                                     the help        2011  English     USA
40              the hunger games: catching fire        2013  English     USA
41                                    war horse        2011  English     USA
42                                     13 hours        2016  English     USA
43                                   blood ties        2013  English      FR
44                                   the master        2012  English     USA
45                            x-men: apocalypse        2016  English     USA
46            anchorman 2: the legend continues        2013  English     USA
47                                 man of steel        2013  English     USA
48                                      skyfall        2012  English      UK
50                             the great gatsby        2013  English      AU
52                              bridge of spies        2015  English     USA
53                     the amazing spider-man 2        2014  English     USA
55                      avengers: age of ultron        2015  English     USA
56                mandela: long walk to freedom        2013  English      UK
58                                    the judge        2014  English     USA
59                                eat pray love        2010  English     USA
60                                    furious 7        2015  English     USA
61                   the place beyond the pines        2012  English     USA
62                                      warrior        2011  English     USA
64                          free state of jones        2016  English     USA
65                                    get on up        2014  English     USA
69                                         noah        2014  English     USA
70                               shutter island        2010  English     USA
71                                the counselor        2013  English     USA
78                                     unbroken        2014  English     USA
80          captain america: the winter soldier        2014  English     USA
81  pirates of the caribbean: on stranger tides        2011  English     USA
82                                 rock of ages        2012  English     USA
84                            the bourne legacy        2012  English     USA
85                             12 years a slave        2013  English     USA
86                             captain phillips        2013  English     USA
87                                         fury        2014  English     USA

       budget  imdb_score                                             actors  \
0   100000000         8.2  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau
1   200000000         7.2          Robert Downey Jr.,Jon Favreau,Don Cheadle
2    44000000         7.9          Craig Stark,Jennifer Jason Leigh,Zoë Bell
3    14000000         6.5        Matt Damon,Kieran Culkin,John Gallagher Jr.
4   225000000         7.9              Aidan Turner,Adam Brown,James Nesbitt
7   220000000         8.1  Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...
12  165000000         8.6    Matthew McConaughey,Anne Hathaway,Mackenzie Foy
13   28000000         7.9        Aldis Hodge,Neil Brown Jr.,R. Marcos Taylor
16  210000000         5.7            Bingbing Li,Sophia Myles,Kelsey Grammer
18  250000000         7.5              Aidan Turner,Adam Brown,James Nesbitt
19   61000000         7.6          Hugh Jackman,Eddie Redmayne,Anne Hathaway
21   40000000         7.4      Jennifer Ehle,Harold Perrineau,Parker Sawyers
22  200000000         6.7                Mark Addy,William Hurt,Scott Grimes
24  195000000         6.3          Glenn Morshower,Lester Speight,Kevin Dunn
25   46000000         8.1        Hugh Jackman,Jake Gyllenhaal,Dylan Minnette
26  230000000         7.0             Emma Stone,Andrew Garfield,Chris Zylka
28  140000000         6.1       Christian Bale,María Valverde,Ben Mendelsohn
32   61000000         8.1          Patrick Fugit,Sela Ward,Emily Ratajkowski
33  200000000         8.0      Jennifer Lawrence,Peter Dinklage,Hugh Jackman
34  160000000         8.8   Leonardo DiCaprio,Tom Hardy,Joseph Gordon-Levitt
35   20000000         6.7  Martin Dew,Katherine Waterston,Serena Scott Th...
36  245000000         6.8      Christoph Waltz,Rory Kinnear,Stephanie Sigman
38  100000000         4.3             Chris Noth,Liza Minnelli,Kristin Davis
39   25000000         8.1          Emma Stone,Bryce Dallas Howard,Mike Vogel
40  130000000         7.6  Jennifer Lawrence,Josh Hutcherson,Sandra Ellis...
41   66000000         7.2    Jeremy Irvine,Benedict Cumberbatch,Eddie Marsan
42   50000000         7.4     Toby Stephens,James Badge Dale,David Costabile
43   25500000         6.5                Mila Kunis,Lili Taylor,Billy Crudup
44   32000000         7.1     Mike Howard,Jeffrey W. Jenkins,Bruce Goodchild
45  178000000         7.3  Jennifer Lawrence,Michael Fassbender,Tye Sheridan
46   50000000         6.3            Harrison Ford,Will Ferrell,Steve Carell
47  225000000         7.2       Henry Cavill,Christopher Meloni,Harry Lennix
48  200000000         7.8           Albert Finney,Helen McCrory,Rory Kinnear
50  105000000         7.3   Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley
52   40000000         7.6                    Tom Hanks,Mark Rylance,Amy Ryan
53  200000000         6.7              Emma Stone,Andrew Garfield,B.J. Novak
55  250000000         7.5  Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...
56   35000000         7.1              Terry Pheto,Fana Mokoena,Tony Kgoroge
58   50000000         7.4   Robert Downey Jr.,Robert Duvall,Leighton Meester
59   60000000         5.7            James Franco,Julia Roberts,Billy Crudup
60  190000000         7.2               Jason Statham,Paul Walker,Vin Diesel
61   15000000         7.3   Ryan Gosling,Ben Mendelsohn,Angelo Anthony Pizza
62   25000000         8.2                  Tom Hardy,Frank Grillo,Kevin Dunn
64   50000000         6.7  Matthew McConaughey,Donald Watkins,Jessica Col...
65   30000000         6.9           Tika Sumpter,Josh Hopkins,Aunjanue Ellis
69  125000000         5.8           Anthony Hopkins,Emma Watson,Logan Lerman
70   80000000         8.1     Leonardo DiCaprio,Joseph Sikora,Nellie Sciutto
71   25000000         5.3         Michael Fassbender,Brad Pitt,Goran Visnjic
78   65000000         7.2          Finn Wittrock,Jack O'Connell,Alex Russell
80  170000000         7.8       Scarlett Johansson,Chris Evans,Hayley Atwell
81  250000000         6.7             Johnny Depp,Sam Claflin,Stephen Graham
82   75000000         5.9     James Martin Kelly,Shane Hartline,Celina Beach
84  125000000         6.7              Jeremy Renner,Scott Glenn,Stacy Keach
85   20000000         8.1       Quvenzhané Wallis,Scoot McNairy,Taran Killam
86   55000000         7.9             Tom Hanks,Chris Mulkey,Michael Chernus
87   68000000         7.6                 Brad Pitt,Logan Lerman,Jim Parrack

    movie_facebook_likes
0                 138000
1                  95000
2                 114000
3                      0
4                  83000
7                 123000
12                349000
13                 76000
16                 56000
18                 65000
19                144000
21                 39000
22                 17000
24                 46000
25                 86000
26                 56000
28                 51000
32                146000
33                 82000
34                175000
35                 18000
36                 85000
38                     0
39                 75000
40                 82000
41                 28000
42                 44000
43                     0
44                 27000
45                 54000
46                 41000
47                118000
48                 80000
50                115000
52                 55000
53                 41000
55                118000
56                 13000
58                 47000
59                 26000
60                 94000
61                 47000
62                 77000
64                 10000
65                 11000
69                 71000
70                 53000
71                 24000
78                 35000
80                 55000
81                 58000
82                 33000
84                 31000
85                 83000
86                 65000
87                 82000

## Penyimpanan Data

In [46]:
# Simpan dataframe yang sudah dibersihkan ke file CSV baru
output_file = 'movie_dataset_cleaned.csv'
movie_df.to_csv(output_file, index=False)